@font-face {
  font-family: "CodeNext";
  src: url(fonts/CodeNext.ttf) format("truetype");
  font-weight: normal;
}

body {
  font-family: "Jost";
}

input:focus {
  outline: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#name {
  height: 250px;
  width: 60%;
  border: none;
  font-size: 200px;
  direction: rtl;
}
.header {
  display: flex;
  font-family: "Jost", cursive;
  font-size: 60px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  align-items: center;
  animation: fadeIn;
  animation-duration: 4s;
}

#calculatorContainer {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  width: 300px;
  height: 300px;
  border: solid 0px black;
  transition: border-width 0.6s linear;
}

#calculatorContainer > button {
  border: 0px;
  cursor: pointer;
  background-color: white;
  font-size: 18px;
  transition: background-color 0.6s linear;
  transition: font-size 0.2s linear;
}

#calculatorContainer > button:active {
  background-color: wheat;
  transition: background-color 0.1s linear;
}

#calculatorContainer > .red:hover {
  border: solid 2px red;
  color: red;
  font-size: 22px;
}

#calculatorContainer > .blue:hover {
  border: solid 2px blue;
  color: blue;
  font-size: 22px;
}

#calculatorContainer > .green:hover {
  border: solid 2px green;
  color: green;
  font-size: 22px;
}

#calculatorContainer > .yellow:hover {
  border: solid 2px rgb(255, 196, 0);
  color: rgb(255, 196, 0);
  font-size: 22px;
}

#calculatorContainer > .number:hover {
  border: solid 2px rgb(245, 154, 120);
  color: rgb(245, 154, 120);
  font-size: 22px;
}

#calculatorContainer > .purple:hover {
  border: solid 2px purple;
  color: purple;
  font-size: 22px;
}
#calculatorContainer > .all-clear:hover {
  border: solid 2px lightgray;
  color: lightgray;
  font-size: 22px;
}

#calculatorContainer > .equal-sign:hover {
  border: solid 2px rgb(148, 215, 244);
  color: rgb(148, 215, 244);
  font-size: 50px;
}

#calculatorContainer > .brown:hover {
  border: solid 2px brown;
  color: brown;
  font-size: 22px;
}

#calculatorContainer > .positiveNegative:hover {
  border: solid 2px rgb(255, 0, 221);
  color: rgb(255, 0, 221);
  font-size: 22px;
}

#calculatorContainer:hover {
  border-width: 5px;
}

.equal-sign {
  height: 100%;
  grid-row: 2 / 6;
  grid-column: 4 / 5;
}

#display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 200px;
  margin-right: 25%;
  font-size: 25px;
  font-style: italic;
}
