@font-face {
  font-family: "CodeNext";
  src: url(fonts/CodeNext.ttf) format("truetype");
  font-weight: normal;
}

hr {
  height: 2px;
  background-color: black;
  animation: fadeInLeft;
  animation-duration: 2s;
}

.header {
  display: flex;
  font-family: "CodeNext", cursive;
  font-size: 60px;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  animation: fadeIn;
  animation-duration: 4s;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* #display {
  font-family: "Jost", sans-serif;
  font-size: 400px;
} */
/* 
#name {
  direction: rtl;
} */

#calculatorContainer {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: black;
  gap: 0px;
}

#calculatorContainer > button {
  background-color: white;
  border: 0px;
  cursor: pointer;
}

.equal-sign {
  height: 100%;
  grid-row: 2 / 6;
  grid-column: 4 / 5;
}

#calculatorContainer:hover {
  gap: 1px;
}
